@font-face {
  src: url(../清松手写体2-Light.ttf);
  font-family: "JasonHandwriting2";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../HanChengBoBoXingJian-2.ttf);
  font-family: "HCBBXJ-2019";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../IPix中文像素字体.ttf);
  font-family: "IPix";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../eh.ttf);
  font-family: "eh";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
body {
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}
div {
  margin: 0;
  padding: 0;
  text-align: justify;
}
p {
  text-align: justify;
  text-indent: 2em;
  /*句首缩进*/
  line-height: 140%;
  /*行间距*/
  letter-spacing: 1.5px;
  /*字间距*/
  /*段间距*/
  margin-bottom: 3%;
  margin-top: 2%;
}
.cover {
  width: 100%;
  padding: 0;
}
.center {
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}
.left {
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}
.right {
  text-align: right;
  margin-left: 0%;
  margin-right: 0%;
}
.quote {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}
h1 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
h2 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

h3 {
/*标题----------------------------------*/
  color: #808000;
  line-height: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0 1em 0;
  padding: 0.1em 0.2em 0.1em 0.2em;
  border-style: none solid none solid;
  border-width: 0 10px 0 10px;
  border-color: #808000;
}
h4 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}
h5 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: small;
}
h6 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: x-small;
}

.Volume {
/*篇----------------------------------*/
  color: white;
  background-color: #6cf;
  line-height: 100%;
  text-align: left;
  border-style: none none none solid;
  border-width: 0 0 0 5px;
  border-left-color: #6df;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2em;
  padding: 0.5em;
}
.thanks {
/*完结感言-------------------------------*/
  color: white;
  background-color: #71c671;
  line-height: 100%;
  text-align: center;
  border-style: none none none solid;
  border-width: 0 0 0 5px;
  border-left-color: #68838b;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2em;
  padding: 0.5em;
}

/*前言-----------------------------*/
p.qianyan-l {
/*前言-内容-女性*/
  font-family: JasonHandwriting2,sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
  font-weight: bold;
}
p.qianyan-g {
/*前言-内容-男性*/
  font-family: HCBBXJ-2019,sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
}
p.qianyan-r {
/*前言-内容-其他*/
  font-family: IPix,sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}
p.qianyan-a {
/*前言-发言者*/
  text-align: right;
  position: relative;
  margin-top: 0;
  margin-bottom: 5%;
}

/*链接--------------------------*/
a {
  color: #52a4db;
  text-decoration: none;
}
a:hover {
  background-color: #495CFF;
  color: #fff;
  text-decoration: none;
}


.shuoming {
/*作者注-------------------------*/
  font-size: 80%;
  color: #D96A49;
}


div.zhizhong {
/*div置中-----------------------*/
  display: flex;
  justify-content: center;
}


/*图片--------------------------*/
div.image img {
  padding-bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
/*图片说明*/
div.image p {
  text-indent: 0;
  font-family: HCBBXJ-2019,sans-serif;
  font-size: 120%;
  color: #2a358e;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  margin-bottom: 25px;
}

/*术式上标-----------------------------*/
.en {
  font-family: eh,sans-serif;
  font-weight: bold;
  font-size: 80%;
}
.en1 {
  font-family: eh,sans-serif;
  font-weight: bold;
  font-size: 100%;
}
p.fg{
/*★ ★ ★分隔-------------------------------*/
text-indent: 0em;
text-align: center;
font-size:1.1em;
}
